@page "/editCategory"
@page "/editCategory/{Id}"

@if (string.IsNullOrEmpty(CategoryDetails.Name))
{
    <h1 class="page-title">
        Создание новой категории
    </h1>
}
else
{
    <h1 class="page-title">
        Обновление категории "@CategoryDetails.Name"
    </h1>
}

<EditForm Model="@CategoryDetails" OnValidSubmit="@HandleValidSubmit">
    <DataAnnotationsValidator/>
    <ValidationSummary></ValidationSummary>

    <div class="form-group row">
        <label for="name" class="col-sm-3">Наименование: </label>
        <InputText id="name" class="form-control col-sm-8" @bind-Value="@CategoryDetails.Name" placeholder="Введите название категории"></InputText>
        <ValidationMessage class="offset-sm-3 col-sm-8" For="@(() => CategoryDetails.Name)"/>
    </div>

    <div class="form-group row">
        <label for="name" class="col-sm-3">Описание: </label>
        <InputTextArea id="name" class="form-control col-sm-8" @bind-Value="@CategoryDetails.Description" placeholder="Введите описание категории"></InputTextArea>
        <ValidationMessage class="offset-sm-3 col-sm-8" For="@(() => CategoryDetails.Description)"/>
    </div>

    <button type="submit" class="submit-button">Сохранить</button>

</EditForm>

@if (CategoryDetails.Id != default)
{
    <p>
        <button @onclick="DeleteCategory" class="delete-button">Удалить категорию</button>
    </p>
}
<br/>
<p class="back-to-catalog mt-3">
    <img src="img/back-arrow.svg"/><a @onclick="@NavigateToOverview">Назад</a>
</p>